* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  header {
    background-color: #282c34;
    color: white;
    padding: 20px;
  }

  /*aqui comienza el estilo del nav*/


  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;

    /* nav flotante*/
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 10px 0;
  }
  
  nav h1 {
    padding-left: 6px;
    font-size: 2rem;
  }
  
  nav ul {
    padding-right: 8px;
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-left: 1.5rem;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }


.subtitulo-- {
  margin-top: 30px;
}






/* Aqui comienza el estilo de footer */

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color:#282c34 ;
    margin-top: 30px;
    display: flex;
    align-items: center;
    
  }

  
  .redes--sociales{
     width: 100%;
      color: white;
      text-align: center;
  }

  .redes-- {
    display: inline;
    padding-left: 8px;
  }

  @media only screen and (max-width: 600px) {
    .card {
      width: 100%;
    }
  }
  