
  body { 
    /* font-family: Arial, sans-serif; */
    min-width: 400px;
    /* max-width: 1200px; */
    
  }
  
  
  footer {
    height: 90px;
    background-color:#282c34 ;
    margin-top: 30px;
    display: flex;
    align-items: center;
    width: 100%;
    
  }

  
  .redes--sociales{
     width: 100%;
      color: white;
      text-align: center;
  }

  .redes-- {
    display: inline;
    padding-left: 8px;
  }

  .nosotros {
    text-align: justify;
    text-justify: inter-word;
  }


@media (min-width: 900px) {
  .nosotros-cont {
    width: 900px;
    max-width: 900px;
  }
}

.nav-logo {
  height: 48px;
}

@media (max-width: 500px) {
  .nav-titulo {
    font-size: 16px;
  }

  .nav-logo {
    height: 32px;
  }
}


.personaje:hover {
  background-color: darkgray;
  }

.tarjeta-ancho {
  width: 500px;
}

.tarjeta-img {
  object-fit: fill;
  height: 400px;
}

.sep-nav {
  margin-top: 120px;
}

.carousel-max{
  max-width: 640px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.carousel-img {
  border-radius: 15px;
}