
  body { 
    /* font-family: Arial, sans-serif; */
    min-width: 350px;
    
  }
  
  
  footer {
    height: 90px;
    background-color:#282c34 ;
    margin-top: 30px;
    display: flex;
    align-items: center;
    
  }

  
  .redes--sociales{
     width: 100%;
      color: white;
      text-align: center;
  }

  .redes-- {
    display: inline;
    padding-left: 8px;
  }

  /* @media only screen and (max-width: 600px) {
    .card {
      width: 100%;
    }
  } */
  

  .personaje:hover {
    background-color: darkgray;
  }

.tarjeta-ancho {
  width: 500px;
}

.tarjeta-img {
  object-fit: fill;
  height: 400px;
}

.sep-nav {
  margin-top: 100px;
}
